<table style="margin:30px auto;width:600px;height:430px; padding:20px 20px 20px 20px;">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="10" border="0" style="width:600px; ">

                <tr>
                    <td style="text-align: center; border-bottom: 1px solid #eee;padding-bottom: 30px;">
                        <img src="https://dummyimage.com/400x200/000000/ffffff&text=Your+Image"
                             alt="img">
                    </td>
                </tr>
            </table>

            <table style="width: 600px; text-align: left;margin:20px auto; ">
                <tr>
                    <td>
                        <h3 style="color: green">Olá, {{ nome }}</h3>
                        <p style="font-size: 14px;">
                            {{ mensagem ? : "Sem mensagem" }}
                        </p>
                    </td>
                </tr>
            </table>

            <table style="width: 600px;text-align:center;margin:20px auto; ">
                <tr>
                    <td style="font-size:13px; text-align: left;">
                        <p style="margin-bottom: 0;font-size:14px;">Atenciosamente! </p>
                        <p style="margin-bottom: 0;margin-top:14px; font-weight: bold">{{ empresa }}</p>
                    </td>

                </tr>
            </table>

            <p style="text-align: center;font-size: 10px; margin-top: 30px;">
                Realizado no dia {{ data }} às {{ hora }}.
            </p>
            <p style="text-align: center;font-size: 10px; margin-top: 30px;">
                Direitos autorais &copy;
                <a style="color:black;font-weight:bold;text-decoration: none;" href="#">{{ empresa }} 2018</a>
            </p>
        </td>
    </tr>
</table>
